---
Checks: '*,
         -abseil*,
         -altera*,
         -android*,
         -fuchsia*,
         -google*,
         -llvm*,
         -zircon*,
         -*braces-around-statements,
         -*magic-numbers,
         -*use-trailing-return-type,
         -*reinterpret-cast,
         -*signed-bitwise,
         -*type-union-access,
         -*vararg,
         -*uppercase-literal-suffix,
         -*readability-identifier-name,
         -*swappable-parameters'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: llvm