---
# Configure clang-tidy for this project

Checks: '*,
         -abseil*,
         -android*,         
         -fuchsia*,         
         -google*,
         -llvm*,         
         -zircon*,
         -*braces-around-statements,         
         -*magic-numbers,         
         -*use-trailing-return-type,
         -*reinterpret-cast,
         -*signed-bitwise,
         -*type-union-access,
         -*vararg,
         -*uppercase-literal-suffix'

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'

AnalyzeTemporaryDtors: false

FormatStyle: google
