# Cache/options used by clangd
.clangd
.cache

# IntelliJ IDEA
.idea
*.iml

# Visual Studio and VS Code
.vs
.vscode
.devcontainer

# Build directories
build
out
cmake-build*

# Conan imports for Dear ImGui
bindings

# CMake build configuration
CMakeSettings.json
compile_commands.json

# Emscripten output
public/*.data
public/*.js
public/*.wasm

# Git
*.stackdump
