name: build

on: [push]

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        build-type: [Release]
        compiler: [GCC, Clang]

    runs-on: ubuntu-latest
    env:
      BUILD_TYPE: ${{matrix.build-type}}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          cmake \
          libglew-dev \
          libsdl2-dev \
          libsdl2-image-dev

    - name: Select GCC
      if: matrix.compiler == 'GCC'
      run: |
        echo "CC=gcc" >> $GITHUB_ENV
        echo "CXX=g++" >> $GITHUB_ENV

    - name: Select Clang
      if: matrix.compiler == 'Clang'
      run: |
        echo "CC=clang" >> $GITHUB_ENV
        echo "CXX=clang++" >> $GITHUB_ENV

    - name: Configure CMake
      run: |
        cmake -B ${{github.workspace}}/build \
              -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
              -DCMAKE_C_COMPILER=${{env.CC}} \
              -DCMAKE_CXX_COMPILER=${{env.CXX}}

    - name: Build
      run: |
        cmake --build ${{github.workspace}}/build \
              --config ${{env.BUILD_TYPE}} \
              -- -j $(nproc)

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}

  wasm:
    runs-on: ubuntu-latest
    env:
      BUILD_TYPE: Release

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Emscripten
      run: |
        sudo apt-get install git cmake
        sudo apt-get install python3 pip
        git clone https://github.com/emscripten-core/emsdk.git
        cd emsdk
        git pull
        ./emsdk install latest
        ./emsdk activate latest
        source ./emsdk_env.sh

    - name: Configure CMake
      run: |
        source ./emsdk/emsdk_env.sh
        emcmake cmake -B ${{github.workspace}}/build \
                      -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: |
        source ./emsdk/emsdk_env.sh
        cmake --build ${{github.workspace}}/build \
              --config ${{env.BUILD_TYPE}} \
              -- -j $(nproc)

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}